.container {
  width: 1000px;
  min-height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* padding-top: 100px; */
  background-color: green;
  color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
button {
  font-size: 2rem;
  padding: 1rem 3rem;
  border: 2px solid white;
  border-radius: 15px;
  background-color: white;
  color: green;
  cursor: pointer;
}
button:hover {
  background-color: green;
  color: white;
}
span {
  font-size: 0.7em;
}
#page_number {
  display: inline-block;
  width: fit-content;
  margin-left: auto;
  margin-right: 2rem;
  height: 0;
  font-size: 2rem;
}
#vocabulary {
  font-size: 5rem;
  margin-top: 0;
}
#choices {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
#choices button {
  margin: 1rem 2rem;
}
#results {
  display: block;
  padding-left: 3em;
  padding-right: 3em;
  text-align: left;
  background-color: white;
  color: green;
  border: 3px solid green;
  border-radius: 15px;
}
#results h1 {
  font-size: 3rem;
}
#results p {
  display: inline-block;
  width: 50%;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom:1rem;
}
#results p.right {
  color: green;
}
#results p.wrong {
  color: red;
}
#results button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-color: green;
}
